gdown
pre-commit
flake8
black
mypy
h5py
numba==0.58.1
einops
torch
torch_geometric==2.5.3
lightning
lightning[extra]
tqdm
omegaconf
pandas
pathlib
pytest
pyyaml
types-PyYAML
types-tqdm
wandb
clifford
optuna
seaborn